@import "_cvariables.scss";
@import "../bower_components/bootstrap/scss/bootstrap.scss";
@import "pages/_home.scss";
@import "pages/_leistungen.scss";
@import "pages/_unternehmen.scss";
@import "pages/_kontakt.scss"; // bower:scss
// endbower
// $brand-primary: #F7D63E;
//
// $xs: 480px; 30em
// $sm: 576px; 36em
// $md: 768px; 48em
// $lg: 992px; 62em
// $xl: 1200px; 75em

section {
  padding: 6em 0;

  article {
    h1,
    h2,
    h3 {
      font-size: 1.25rem;
      line-height: 1.5em;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }
    @include make-col-ready();
    @include media-breakpoint-down(lg) {
       @include make-col(12);
    }
    @include media-breakpoint-up(lg) {
       @include make-col(6);
    }
  }
}

.page-image-top {
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 70%;
}

section.teaser {
  padding: 6em 0;
  text-align: center;

  header {
    @include make-col-ready();
    @include media-breakpoint-down(md) {
       @include make-col(12);
    }
    @include media-breakpoint-up(md) {
       @include make-col(10);
      @include make-col-offset(1);
    }
    @include media-breakpoint-up(xl) {
       @include make-col(6);
      @include make-col-offset(3);
    }
    h1,
    h2,
    h3,
    h4 {
      font-size: 1.25rem;
      line-height: 1.5em;
      font-weight: bold;
    }
  }
}

section#top-contact-header {
  padding: 0;
  background-color: #ddd;
  font-size: 0.9rem;

  .top-nav {
    color: #111;
    white-space: nowrap;
    padding-right: 20px;
    float: right;

    a {
      color: #111;
    }
  }
}

nav.navbar-rq {
  background: #111;
  @include media-breakpoint-up(lg) {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-brand {
    color: $brand-primary;
    font-weight: bold;

    span {
      float: left;
      display: inline-block;
      background-image: url("../images/logo_png/logo_y.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top left;
      width: 64px;
      height: 32px;
    }

    &:hover {
      span {
        background-image: url("../images/logo_png/logo_w.png");
      }
    }
  }

  .navbar-nav {
    .nav-item {
      @include media-breakpoint-up(lg) {
        height: 100px;
        line-height: 92px;
        padding: 0 20px;
        margin: 0;
      }
      a {
        color: #ccc;
        font-weight: 600;
      }
      &.active,
      &:hover {
        a {
          color: $brand-primary;
        }
      }
    }
  }
}

footer {
  color: white;

  h4 {
    font-size: 1.25rem;
    line-height: 1.5em;
    font-weight: bold;
  }

  .footer-middle {
    background: #292b2c;
    padding-top: 2em;
    color: white;

    .footer-pad {
      // col-md-4 col-sm-12
      @include make-col-ready();
      @include media-breakpoint-down(md) {
         @include make-col(12);
      }
      @include media-breakpoint-up(md) {
         @include make-col(4);
      }
    }

    .footer-social {
      overflow: hidden;
      text-align: center;
      margin-top: 3rem;

      div {
        display: inline-block;
        font-size: 3rem;
        font-weight: bold;
        margin-right: 1.5rem;

        a:hover {
          text-decoration: none;
        }
      }
    }
  }

  .footer-bottom {
    background: #292b2c;
    padding-top: 2em;
  }

  ul.footer-bottom-list {
    overflow: hidden;
    padding: 0;

    li {
      float: left;

      a {
        display: block;
        text-decoration: none;
        padding-right: 1em;
      }
    }
  }
}


section.datapolicy{
  h1,h2,h3{
    line-height: 1.5em;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
  }
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.25rem;
  }
}
//////////////////////////////////
// old - check for deprecation
//

.display-6 {
  // todo make font-size smaller between xs-md
  font-size: 1.75rem;
  line-height: 1.25em;
}

.display-7 {
  font-size: 1.25rem;
  line-height: 1.5em;
}
@include media-breakpoint-down(xs) {
  .display-1 {
    font-size: 4rem;
  }

  .display-2 {
    font-size: 3rem;
  }

  .display-3 {
    font-size: 2.5rem;
  }

  .display-4 {
    font-size: 2rem;
  }
}
@include media-breakpoint-up(sm) {
  .h1-long {
    line-height: 1.25em;
  }
}
@include media-breakpoint-up(md) {
  .h1-long {
    line-height: 1.25em;
  }
}
